*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.7;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(255,255,255,.08);
backdrop-filter:blur(12px);
position:sticky;
top:0;
}

nav a{
color:white;
text-decoration:none;
margin-left:25px;
font-weight:600;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:4rem;
}

.hero span{
color:#38bdf8;
}

.btn{
padding:15px 35px;
background:#38bdf8;
border-radius:40px;
text-decoration:none;
font-weight:bold;
color:black;
}
